apiVersion: v1
kind: Pod
metadata:
  name: guacamole
spec:
  containers:
  - name: guacd
    image: guacamole/guacd:1.6.0
  - name: guacamole
    image: guacamole/guacamole:1.6.0
  - name: postgres
    image: postgres:15.2-alpine