apiVersion: apps/v1
kind: Deployment
metadata:
  name: guac
  labels:
    app: guac
spec:
  replicas: 2
  selector:
    matchLabels:
      app: guac
  template:
    metadata:
      labels:
        app: guac
    spec:
      containers:
      - name: guacamole
        image: guacamole/guacamole:1.6.0
---
############################################################################################
apiVersion: apps/v1
kind: Deployment
metadata:
  name: guacd
  labels:
    app: guacd
spec:
  replicas: 2
  selector:
    matchLabels:
      app: guacd
  template:
    metadata:
      labels:
        app: guacd
    spec:
      containers:
      - name: guacd
        image: guacamole/guacd:1.6.0
---
############################################################################################
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  labels:
    app: postgres
spec:
  replicas: 2
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
      - name: postgres
        image: postgres:15.2-alpine
#        ports:
#          - containerPort: 5432
#            protocol: TCP
---







#  - name: drive
#    configMap:
#      defaultMode: 0755
#      name: drive
#  - name: guac
#    configMap:
#      defaultMode: 0755
#      name: guac
#  - name: init
#    configMap:
#      defaultMode: 0755
#      name: init
#  - name: record
#      configMap:
#      defaultMode: 0755
#      name: record
  